@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
a{
  color: black !important;
}

.brand-logo,h2{
  font-family: 'Grand Hotel', cursive;
}

@import '~antd/dist/antd.css';

* {
    box-sizing: border-box;
    margin-left: 10px;
    max-width: 90%;
}

/* form login + Signup */

#form{
  margin-left: 20px;
  margin-right: 20px;
  background-color: antiquewhite;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 600px;
}
.form .img{
  min-width: 400px;
  width: 749px;
  height: auto;
}
/* label underline focus color */
.form .input-field {
  padding-left: 10px;
  padding-right: 10px;
  width: 540px;
  text-align: center;
  height: auto;
}
.input-field input[type=text]:focus {
  border-bottom: 1px solid rgb(4, 160, 250) !important;
  box-shadow: 0 1px 0 0 rgb(4, 160, 250) !important;
}
/*****---------------------------------------------------------**/
.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.item{
  width: 30%;
}

#toast-container{
  top:30px !important;
  right: 20px !important;
  left: auto !important;
}
#prod{
  color: rgb(112, 61, 61);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.produits{
  height: 100px;
  width: 100px;
  background-color: antiquewhite;
}